body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color:darkgoldenrod;   
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    line-height: 36px; 
}

  .container {
    display: flex;
    justify-content: left;
    background-color: darkslategrey;
  
}

  .center {      
    width: 1024px;
    height: 768px;
    padding-top: 200px;      
  }

  .wrapper {
    padding-left: 330px;
  }

  #won {
    color: rgb(70, 223, 243);
    font-size: 1.5em;
  }

  #lost {
    color:darkred;
    font-size: 1.5em;
  }

  #attempts {
    color:olive;
    font-size: 1.2em;
  }

  #playerGuess {
    color:black;
    font-size: 1.5em;
  }

  h1 {
    font-size: 1.6em;
  }